.bzselect-dropdown {
	background: white;
	margin-top: 5px;
	
	border: solid 1px lightgray;
	border-radius: 4px;
	position: absolute;
}
.bzselect-dropdown-filter {
	margin: 5px 10px;
}
.bzselect-dropdown-select-options {
	overflow-y: auto;
	max-height: 230px;
}
.bzselect-dropdown-option {
	padding: 5px;
}
.bzselect-dropdown-option:hover {
	background: rgba(0, 0, 0, 0.1);
}
.bzselect-dropdown-option.selected:hover {
	background: rgba(173, 216, 230, 0.8);
}
.bzselect-dropdown-option.selected {
	background: lightblue;
}
